* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.footer {
    background-color: #1F2937;
    color: whitesmoke;
}

.header-top,
.header-bottom {
    display: flex;
    margin: 15px 100px 60px 100px
}

.header-top {
    justify-content: space-between;
    align-items: center;
}

.header-top ul {
    display: flex;
    gap: 15px;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.left-side .title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.mid-section {
    display: flex;
    padding: 15px 100px 60px 100px
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 60px 200px;
}

.quote p {
    font-style: italic;
}

.quote .signature {
    font-style: normal;
    font-weight: bold;
    align-self: flex-end;
}

.above-footer {
    display: flex;
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 0 100px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.above-footer .title {
    margin-top: 30px;
    font-weight: bold;
}

.above-footer .content {
    margin-bottom: 30px;
}

.footer {
    padding: 20px 100px 20px 100px;
    text-align: center;
    font-size: small;
}