* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 88px;
    height: 24px;
    border-radius: 5px;
}

.left-side > button {
    border: 1px #3882F6 solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-left > button {
    border: 1px #F9FAF8 solid;
    margin-top: 5px;
}

.header,
.footer {
    background-color: #1F2937;
    color: whitesmoke;
}

.header-top,
.header-bottom {
    display: flex;
    margin: 15px 100px 60px 100px;
}

.header-bottom {
    flex-wrap: wrap;
}

.header-top {
    justify-content: space-between;
    align-items: center;
}

.header-top > ul {
    display: flex;
    gap: 15px;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.header-bottom .left-side,
.header-bottom .right-side {
    flex-grow: 1;
    flex-basis: 50%;
    border-radius: 10px;
    max-height: 20vh;
}

.header-bottom .right-side {
    object-fit: cover;
}

.left-side .title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}


.mid-section {
    padding: 15px 100px 60px 100px;
}

.mid-section > p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 26px;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.boxes > .box-1,
.boxes > .box-2,
.boxes > .box-3,
.boxes > .box-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 130px;
    gap: 5px;
}

.box-1 > .box-1,
.box-2 > .box-2,
.box-3 > .box-3,
.box-4 > .box-4 {
    height: 130px;
    width: 130px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.boxes p {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 60px 200px;
}

.quote > p {
    font-style: italic;
}

.quote .signature {
    font-style: normal;
    font-weight: bold;
    align-self: flex-end;
    margin-top: 15px;
}

.above-footer {
    display: flex;
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 0 100px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.above-footer .title {
    margin-top: 30px;
    font-weight: bold;
}

.above-footer .content {
    margin-bottom: 30px;
}

.footer {
    padding: 20px 100px 20px 100px;
    text-align: center;
    font-size: small;
}